source https://api.nuget.org/v3/index.json

storage: none
framework: netcore2.1, netstandard2.0, netstandard2.1
nuget FSharp.Core
nuget Giraffe >= 3.4.0
nuget TaskBuilder.fs >= 2.1.0
nuget FSharp.Data
nuget NetEscapades.Configuration.Yaml